@charset "UTF-8";
.popup{
	margin: 0;
	border: 1px solid #dcdcdc;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: none;
	background: #fff;
	z-index: 1;
}
.popup .close{
	background: none;
	border: 0;
	position: absolute;
	right: 20px;
	top: 14px;
	font-size: 20px;
	display:inline-block;
	*display:inline;
	z-index: 2;
}
.popup .close:after{
	display: inline-block;
	content:"\00d7";
	font-size:30px;
}		
.shadow{
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.52);
	width: 100%;
	height: 100vh;
	display: none;
}

#ing_title{
	margin: 0 0 20px 0;
	padding: 13px 0 13px 40px;
	font-weight: bolder;
	font-size: 22px;
	color: black;
	font-style: normal;
	font-family: 'Malgun Gothic';
	position: relative;

}

/* 가상요소 생성. 배경색 투명도 조절  + 글씨는 그대로 */
#ing_title::after{
	width: 100%;
	height: 100%;
	margin: 0 0 20px 0;
	padding: 13px 0 13px 40px;
	background: linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045);
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.7;	
}


