*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background: #ffffff;
  display: grid;
  place-content: center;
  padding: 50px;
}

section {
  width: 800px;
  height: 400px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
}
section.active .left {
  transform: translateY(-400px);
}
section.active .right {
  transform: translateY(0);
}

@media (max-width: 820px) {
  section {
    width: 400px;
    flex-direction: column;
  }
  section img {
    display: none;
  }
  section .left {
    transform: translateY(400px);
  }
  section.active .left {
    transform: translateY(0);
  }
  section.active .right {
    transform: translateY(-800px);
  }
}
.left,
.right {
  width: 400px;
  height: 800px;
  background: #fff;
  display: flex;
  flex-direction: column;
  transition: 1s;
}
.left img,
.right img {
  max-width: 100%;
}

.right {
  transform: translateY(-400px);
}

.sign-up,
.sign-in {
  display: grid;
  place-content: center;
  width: 400px;
}
.sign-up h1,
.sign-in h1 {
  margin-bottom: 20px;
  text-align: center;
}
.sign-up form,
.sign-in form {
  display: flex;
  flex-direction: column;
  width: 340px;
  gap: 18px;
}
.sign-up form input,
.sign-in form input {
  border: 0;
  outline: 0;
  background: #f5f5f5;
  padding: 10px 5px;
  border-radius: 5px;
  padding-left: 10px;
}
.sign-up span p,
.sign-in span p{
  border: 0;
  outline: 0;
  padding: 10px 5px;
  border-radius: 2px;
  padding-left: 10px;
}
.sign-up form input::placeholder,
.sign-in form input::placeholder {
  color: #333;
  text-transform: capitalize;
  font-weight: bold;
}
.sign-up form [type=submit],
.sign-in form [type=submit] {
  display: grid;
  place-content: center;
  max-width: fit-content;
  padding: 0.5em 1em;
  color: #fff;
  background: #00a4cc;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1.2em;
}
.sign-up p,
.sign-in p {
  text-transform: uppercase;
  margin-top: 20px;
}
.sign-up p a,
.sign-in p a {
  text-decoration: none;
  font-weight: bold;
  color: #00a4cc;
}
.sign-up p a:is(:hover, :visited),
.sign-in p a:is(:hover, :visited) {
  color: #00a4cc;
}

.left input[type=submit] {
  background: #f95700;
}
.left p a {
  color: #f95700;
}
.left p a:is(:hover, :visited) {
  color: #f95700;
}
.error{
    font-size: 13px;
    color:red;
    font-weight: 500;
}
.hide{
	display: none;
}