<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<insert id="insert" parameterType="bvo">
		
	</insert>
	
	<update id="insertBasicPost" parameterType="java.util.List">
  		<foreach collection="list" item="item" open="INSERT ALL" close="SELECT * FROM DUAL" >
   			INTO post VALUES(#{item.postId}, #{item.userId}, #{item.nickname},#{item.foodName},#{item.content},default,default,default )
  		</foreach>
	</update>
	<insert id="insertBasicPost2" parameterType="java.util.List">
		INSERT ALL
		<foreach collection="list" item="item">
			INTO post VALUES((SELECT NVL(MAX(postid), 0) + 1 FROM post), #{item.userId}, #{item.nickname},#{item.foodName},#{item.content},default,default,default )
		</foreach>
		SELECT * FROM DUAL
	</insert>
	
	<update id="insertBasicIng" parameterType="java.util.List">
  		<foreach collection="list" item="item" open="INSERT ALL" close="SELECT * FROM DUAL">
   			INTO ingredient VALUES(#{item.postId}, #{item.ingredient}, #{item.amount} )
  		</foreach>
	</update>
	
	
	<insert id="insertBasicIng2" parameterType="java.util.List">
		INSERT ALL
		<foreach collection="list" item="item">
			INTO ingredient VALUES(#{item.postid}, #{item.ingredient}, #{item.amount} )
		</foreach>
		SELECT * FROM DUAL
	</insert>
	
	<update id="update" parameterType="bvo">
		
	</update>
	
	<delete id="delete" parameterType="string">
		
	</delete>
	
	<select id="selectOne" parameterType="String" resultType="mvo">
		
	</select>
	
	<select id="selectList" resultType="mvo">
		
	</select>
</mapper>
