<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="commentMapper">
	<select id="getCommentCount" resultType="_int">
		select count(*) from TBCOMMENT where POSTID=#{postId}
	</select>
	<select id="getCommentList" resultType="cvo" parameterType="_int">
		select USERID, CONTENT, UPDATEAT from TBCOMMENT where POSTID=#{postId}
	</select>
</mapper>
