<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="followMapper">

	<select id="isFollowed" parameterType="map" resultType="_int">
		select count(*) from FOLLOWMAPPING where FWID=#{fwId} and USERID=#{userId} and ISDELETED='N'
	</select>

	<select id="getFollowInfo" parameterType="map" resultType="com.kh.everyrecipe.followMapping.vo.FollowMappingVo">
		select * from FOLLOWMAPPING where FWID=#{fwId} and USERID=#{userId}
	</select>
	
	<insert id="addFollower">
		insert into FOLLOWMAPPING values(#{fwId}, #{userId}, default) 
	</insert>
	
	<update id="reAddFollower">
		update FOLLOWMAPPING set ISDELETED='N' where FWID=#{fwId} and USERID=#{userId}
	</update>
	
	<update id="removeFollower">
		update FOLLOWMAPPING set ISDELETED='Y' where FWID=#{fwId} and USERID=#{userId}
	</update>
	


	
	
</mapper>
