<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="followMapper">

	<select id="isFollowed" parameterType="map" resultType="_int">
		select count(*) from FOLLOWMAPPING where FWID=#{fwId} and USERID=#{userId} and ISDELETED='N'
	</select>

	<select id="getFollowInfo" parameterType="map" resultType="com.kh.everyrecipe.followMapping.vo.FollowMappingVo">
		select * from FOLLOWMAPPING where FWID=#{fwId} and USERID=#{userId}
	</select>
	
	<insert id="addFollower">
		insert into FOLLOWMAPPING values(#{fwId}, #{userId}, default) 
	</insert>
	
	<update id="reAddFollower">
		update FOLLOWMAPPING set ISDELETED='N' where FWID=#{fwId} and USERID=#{userId}
	</update>
	
	<update id="removeFollower">
		update FOLLOWMAPPING set ISDELETED='Y' where FWID=#{fwId} and USERID=#{userId}
	</update>
	

	<select id="getFollowerCount" parameterType="string" resultType="_int">
		select count(*) from FOLLOWMAPPING where userid=#{userId} and ISDELETED ='N'
	</select>
	<select id="getFollowingCount" parameterType="string" resultType="_int">
		select count(*) from FOLLOWMAPPING where fwid=#{userId} and ISDELETED ='N'
	</select>
	<select id="getFollower" parameterType="map" resultType="com.kh.everyrecipe.followMapping.vo.FollowVo">
		SELECT * 
           FROM (SELECT ROWNUM AS RNUM, f.fwid as userid, m.nickname, m.profileurl ,(select count(*) from FOLLOWMAPPING where userid= f.fwid) as followercnt
                   FROM MEMBERS m
                   JOIN ( select * from FOLLOWMAPPING WHERE USERID = #{userId} AND ISDELETED = 'N') f 
                     ON m.userId = f.fwid )
          WHERE <![CDATA[RNUM>#{from} AND RNUM<=#{to}]]>
	</select>
	<select id="getFollowing" parameterType="map" resultType="com.kh.everyrecipe.followMapping.vo.FollowVo">
		SELECT * 
           FROM (SELECT ROWNUM AS RNUM, m.userid, m.nickname, m.profileurl ,(select count(*) from FOLLOWMAPPING where userid= m.userid) as followercnt
                   FROM MEMBERS m
                   JOIN ( select * from FOLLOWMAPPING WHERE FWID = #{userId} AND ISDELETED = 'N') f 
                     ON m.userId = f.userId )
          WHERE <![CDATA[RNUM>#{from} AND RNUM<=#{to}]]>
	</select>
	
	<!-- 추천 게시물(좋아요 많은 순서) 피드 -->
	<select id="getRecommendPost" resultType="wvo">
		SELECT *
			FROM (
			SELECT ROWNUM AS SEQ, A.*
   				FROM(
   				 SELECT post.postid, post.userid, post.nickname, content, FOODNAME, post.CREATEAT, LOOKUP, count(post.postid), MAINIMAGE, MEMBERS.profileUrl, count(postlike.postid) cntlike
				 FROM POST
				 inner join POSTLIKE
				 on POST.postid = POSTLIKE.POSTID
                 inner join MEMBERS
                 on post.userid = members.userid
				 where POSTLIKE.ISDELETED='N'
				 group by post.postid, post.userid, post.nickname, content, FOODNAME, post.CREATEAT, LOOKUP, MAINIMAGE, MEMBERS.profileUrl
				 ORDER BY count(post.postid) DESC) A)
		WHERE SEQ<![CDATA[>]]> #{start} AND SEQ<![CDATA[<=]]> #{end}			
	</select>
	
	<!-- 게시물 피드(조회수 순서) 피드 -->
	<select id="getBestPost" resultType="wvo">
	select *
		FROM(SELECT ROWNUM AS SEQ, A.*		
    		FROM (
    			SELECT P.*, M.PROFILEURL
        		FROM POST P
                inner join MEMBERS M
                ON P.USERID = M.USERID
       			WHERE ISDELETED='N'
       			ORDER BY lookup DESC) A)
    	WHERE SEQ<![CDATA[>]]> #{start} AND SEQ<![CDATA[<=]]> #{end}
	</select>
	
	<!-- 게시물 피드(팔로잉 중인 유저의 게시물만) -->
	<select id="getFollowingPost" resultType="wvo">
		SELECT *
			FROM(
			SELECT ROWNUM AS SEQ, A.*
				FROM(
					SELECT P.*, M.profileUrl
					from POST P
                	INNER JOIN MEMBERS M
                	ON P.userid = M.userid
					WHERE P.userId
					IN (select F.userId from FOLLOWMAPPING F where FWID=#{fwId} and F.ISDELETED ='N')
					ORDER BY P.createat DESC) A)
		WHERE SEQ<![CDATA[>]]> #{start} AND SEQ<![CDATA[<=]]> #{end}
	</select>
	
		
</mapper>
