<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<!-- 회원가입 -->
	<insert id="insertId" parameterType="mvo">
	   INSERT INTO MEMBERS VALUES(#{userId}, #{email}, #{password}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT
                            , '1','ROLE_MEMBER', DEFAULT)
    </insert>
	
	
	<update id="update" parameterType="mvo">
		update members 
		   set nickname=#{nickName}
		     , profile=#{profile}
		     , updateat= default
		where userid=#{userId}
	</update>
	
	<update id="deletePI" parameterType="mvo">
		update members 
		   set profileurl=#{profileUrl}
		     , updateat= default
		where userid=#{userId}
	</update>
	
	<update id="updatePI" parameterType="map">
		update members 
		   set profileurl=#{profileUrl}
		     , updateat= default
		where userid=#{userId}
	</update>
	
	<!-- 권한변경 -->
	<update id="updateAdmin" parameterType="map">
		update members 
		   set AUTHORITY = #{role}  
		 where  userid = #{userId}
	</update>
	
	
	<delete id="delete" parameterType="string">
		delete from members where userid=#{userId}
	</delete>
	
	<select id="selectOne" parameterType="String" resultType="mvo">
		select userid, email, nickname, profile, profileurl, createat, updateat, status, authority, isblocked from members where userid=#{userId}
	</select>
	
	<select id="selectList" resultType="mvo">
		select userid, email, nickname, profile, profileurl, createat, updateat, status, authority, isblocked from members
	</select>
	
	<select id="selectAuth" resultType="mvo">
				select userid, email, nickname, profile, profileurl, createat, updateat, status, authority, isblocked from members where authority='ROLE_ADMIN'
	</select>
	
	<!-- 아이디 중복체크 -->
	<select id="idcheck" resultType="_int">
		select count(*) from members where userid=#{userId}
	</select>
	
	<!-- 개인정보수정 페이지 넘어가기 전 비밀번호 검증 -->
	<select id="loginForMyInfo" parameterType="_int" resultType="mvo">
		select count(*) from members where userid =#{userId} and password=#{password}	
	</select>
	
	<!-- 유저의 블라인드를 체크 하여 반환 -->
	<select id="getBlockData" parameterType="String" resultType="String">
		select ISBLOCKED from members where userid=#{name}
	</select>
	
	<!-- 개인정보수정 (비밀번호, 이메일변경)-->
	<update id="modify" parameterType="mvo">
		update members 
		   set userid = #{userId},
		   	   password = #{password},
		   	   email = #{email} 
		 where  userid = #{userId}
	</update>
	
	<!-- 탈퇴하기 -->
	<delete id="memberDelete">
		delete from members
		 where userid = #{userId}
		   and password = #{password}
	</delete>
</mapper>
