<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	<!-- 회원가입 -->
	<insert id="insertId" parameterType="mvo">
	   INSERT INTO MEMBERS VALUES(#{userId}, #{email}, #{password}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT
                            , '1','ROLE_MEMBER', DEFAULT, DEFAULT, DEFAULT, DEFAULT)
    </insert>
	
	
	<update id="update" parameterType="mvo">
		update members 
		   set nickname=#{nickName}
		     , profile=#{profile}
		     , updateat= default
		where userid=#{userId}
	</update>
	
	<update id="deletePI" parameterType="mvo">
		update members 
		   set profileurl=#{profileUrl}
		     , updateat= default
		where userid=#{userId}
	</update>
	
	<update id="updatePI" parameterType="map">
		update members 
		   set profileurl=#{profileUrl}
		     , updateat= default
		where userid=#{userId}
	</update>
	
	<update id="updateAdmin" parameterType="map">
		update members 
		   set AUTHORITY = #{authority}  
		 where  userid = #{userId}
	</update>
	
	
	<delete id="delete" parameterType="string">
		delete from members where userid=#{userId}
	</delete>
	
	<select id="selectOne" parameterType="String" resultType="mvo">
		select userid, email, nickname, profile, profileurl, createat, updateat, status, authority, postblockyn, replyblockyn, blockstartdt, blockenddt from members where userid=#{userId}
	</select>
	
	<select id="selectList" resultType="mvo">
		select userid, email, nickname, profile, profileurl, createat, updateat, status, authority, postblockyn, replyblockyn, blockstartdt, blockenddt from members
	</select>
	
	
	
	
</mapper>
