<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="postLikeMapper">

	<select id="isLiked" parameterType="map" resultType="_int">
		select count(*) from POSTLIKE where USERID=#{userId} AND POSTID=#{postId} AND ISDELETED='N'
	</select>	

	<select id="getLikeInfo" parameterType="map" resultType="com.kh.everyrecipe.postLike.vo.PostLikeVo">
		select * from POSTLIKE where POSTID=#{postId} and USERID=#{userId}
	</select>
	
	<insert id="addLike">
		insert into POSTLIKE values(#{postId}, #{userId}, default, default) 
	</insert>
	
	<update id="reAddLike">
		update POSTLIKE set ISDELETED='N', ADDDATE=SYSDATE where POSTID=#{postId} and USERID=#{userId}
	</update>
	
	<update id="removeLike">
		update POSTLIKE set ISDELETED='Y' where POSTID=#{postId} and USERID=#{userId}
	</update>
	
		
	<select id="getLikeCount" parameterType="_int" resultType="_int">
		select COUNT(*) from POSTLIKE where POSTID=#{postId} and ISDELETED='N'
	</select>
	
	<select id="getLikeList" parameterType="string" resultType="_int">
		select postid from postlike where userid=#{userId} and isdeleted='N' order by adddate desc
	</select>
	<select id="getLikeCountPaging" parameterType="string" resultType="_int">
		select count(*) from postlike where USERID=#{userId} and ISDELETED='N'
	</select>
	
	<select id="getLikePosts" resultType="bvo">
		select p.postid, p.userid, p.nickname, p.foodname, p.createat as createDate, p.lookup, l.adddate from post p
		join postlike l
		  on p.postid=l.postid
		 where
		<foreach collection="list" item="item" open="(" separator=")or(" close=")">
			 l.postid=#{item}
		</foreach>
		order by l.adddate desc
	</select>

	
	
</mapper>
