<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="postBookmarkMapper">

	<select id="isBookmarked" parameterType="map" resultType="_int">
		select count(*) from POSTBOOKMARK where USERID=#{userId} AND POSTID=#{postId} AND ISDELETED='N'
	</select>	

	<select id="getBookmarkInfo" parameterType="map" resultType="com.kh.everyrecipe.postBookmark.vo.PostBookmarkVo">
		select * from POSTBOOKMARK where POSTID=#{postId} and USERID=#{userId}
	</select>
	
	<insert id="addBookmark">
		insert into POSTBOOKMARK values(#{postId}, #{userId}, default) 
	</insert>
	
	<update id="reAddBookmark">
		update POSTBOOKMARK set ISDELETED='N' where POSTID=#{postId} and USERID=#{userId}
	</update>
	
	<update id="removeBookmark">
		update POSTBOOKMARK set ISDELETED='Y' where POSTID=#{postId} and USERID=#{userId}
	</update>
	
	<select id="getBookmarkList" parameterType="string" resultType="_int">
		select POSTID from POSTBOOKMARK where USERID=#{userId} and ISDELETED='N'
	</select>
	
	<select id="getBookmarkPosts" resultType="bvo">
		select POSTID, USERID, NICKNAME, FOODNAME, CREATEAE, LOOKUP from POST where
		<foreach collection="list" item="item" open="(" separator=")or(" close=")">
			 POSTID=#{item}
		</foreach>
	</select>
	

	
	
</mapper>
