<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ReplyCommentMapper">
	<select id="getReplyCommentList" resultType="rcvo">
		select * from REPLYCOMMENT where ISDELETED='N' order by RCMID desc
	</select>
	
</mapper>
