<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reportMapper">
	<insert id="insertPostReport" parameterType="revo">
		insert into report values(SEQ_REPORTID.nextval, #{userId}, #{postId}, null, #{reportContent}, 'p', default)
	</insert>
	<insert id="insertCommentReport" parameterType="revo">
		insert into report values(SEQ_REPORTID.nextval, #{userId}, null, #{cmtId}, #{reportContent}, 'c', default)
	</insert>
	
	<!-- 관리자 회원별 작성 글 관리 -->
	<select id="postingCount" resultType="_int">
		
	</select>
	
	<insert id="reportPost" parameterType="com.kh.everyrecipe.report.vo.ReportVo" statementType="CALLABLE" >
    { call PROC_REPORT_POST (
        #{userId, mode=IN, jdbcType=VARCHAR},
        #{postId, mode=IN, jdbcType=INTEGER},
        #{reportContent, mode=IN, jdbcType=VARCHAR}
    )}
	</insert>
	<insert id="reportComment" parameterType="com.kh.everyrecipe.report.vo.ReportVo" statementType="CALLABLE" >
    { call PROC_REPORT_COMMENT (
        #{userId, mode=IN, jdbcType=VARCHAR},
        #{cmtId, mode=IN, jdbcType=INTEGER},
        #{reportContent, mode=IN, jdbcType=VARCHAR}
    )}
	</insert>

	<select id="getReportedPosts" resultType="com.kh.everyrecipe.report.vo.ReportedPostVo">
		SELECT p.postid, p.foodname, p.userid,p.nickname, COUNT(*) as reportCnt , p.ISBLINDED as status
		FROM post p
		LEFT JOIN report r ON p.postid = r.postid
		WHERE r.userid IS NOT NULL
		GROUP BY p.postid, p.foodname, p.nickname,p.ISBLINDED, p.userid
	</select>
	
	<select id="getReportInfoP" resultType="com.kh.everyrecipe.report.vo.ReportVo">
		SELECT REPORTID,USERID,POSTID,REPORTCONTENT,REPORTTIME FROM REPORT WHERE POSTID =#{postId}
	
	</select>
	
	
	
	
	<select id="getReportedComments" resultType="com.kh.everyrecipe.report.vo.ReportedCommentVo">
		SELECT c.postid, c.cmtid ,r.userid, m.nickname, COUNT(*) as reportCnt , c.ISBLINDED as status
		  FROM TBCOMMENT c
     LEFT JOIN report r ON  c.cmtid = r.cmtid
     LEFT JOIN members m ON r.userid = m.userid
	     WHERE r.userid IS NOT NULL
		 GROUP BY c.postid, c.cmtid, m.nickname, c.ISBLINDED, r.userid
	</select>
	
	<select id="getReportInfoC" resultType="com.kh.everyrecipe.report.vo.ReportVo">
		SELECT REPORTID,USERID,CMTID,REPORTCONTENT,REPORTTIME FROM REPORT WHERE CMTID =#{cmtId}
	</select>
	
	
</mapper>
