<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="weekMapper">	
	
<!-- 주간 게시물 출력
	<select id="list" resultType="wvo">
		select * 
		from post 
		where
		ISDELETED = 'N'
		AND	
		CREATEAT between trunc(sysdate,'iw') AND trunc(sysdate,'iw')+6 order by LOOKUP desc
    </select>
-->	

	<!-- 주간 게시물 + 페이징 처리 추가 -->
	<select id="count" resultType="_int">
    	select count(CASE WHEN ISDELETED = 'N' THEN 1 END) from post
    </select>
	
	 <select id="listpage" resultType="wvo" parameterType="hashMap">
		select *
			from( 
        		SELECT SEQ, POSTID, USERID, NICKNAME, FOODNAME, CONTENT, CREATEAT, UPDATEAT, ISDELETED, LOOKUP
        		from(
        			SELECT ROWNUM AS SEQ, POSTID, USERID, NICKNAME, FOODNAME, CONTENT, CREATEAT, UPDATEAT, ISDELETED, LOOKUP
        			from(
	        			SELECT *
	        			FROM POST
	        			WHERE
			        	ISDELETED = 'N'
			        	AND
			        	TO_CHAR(CREATEAT, 'YYYYMMDD')	
						between TO_CHAR(trunc(sysdate,'iw'),'YYYYMMDD')
						AND
						TO_CHAR(trunc(sysdate,'iw')+6,'YYYYMMDD')
						order by LOOKUP desc		        		        	
			        	)
		       		)
		        WHERE SEQ <![CDATA[>]]>#{weekPost}
		   )
	    WHERE ROWNUM <![CDATA[<=]]>#{postNum}		    
    </select>   
    
    <!-- 인기 검색어 (1~10위) 출력 -->
    <select id="pwordlist" resultType="WordVo">
		select keword
			from(
				select SEQ, keword
					from(
						select ROWNUM AS SEQ, keword
						from(
						select keword
						from search
						order by times desc
					)
				)
				where SEQ <![CDATA[>=]]>1
			)
		WHERE ROWNUM <![CDATA[<=]]>10
	</select>
    
    
     
</mapper>

