<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="weekMapper">	
	
	<select id="list" resultType="wvo">
	select * 
	from post 
	where
	ISDELETED = 'N'
	AND	
	CREATEAT between trunc(sysdate,'iw') AND trunc(sysdate,'iw')+6 order by LOOKUP desc

    </select>
    
</mapper>

