<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
	 	<setting name="mapUnderscoreToCamelCase" value="true"/>
	 	<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
 
	<typeAliases>
		<!-- <typeAlias type="kh.spring.s01.board.model.vo.BoardVo" alias="BoardVo"/> -->
		<typeAlias type="com.kh.everyrecipe.member.vo.MemberVo" alias="mvo"/>
		<typeAlias type="com.kh.everyrecipe.comment.vo.CommentVo" alias="cvo"/>
		<typeAlias type="com.kh.everyrecipe.board.vo.BoardVo" alias="bvo"/>
		<typeAlias type="com.kh.everyrecipe.board.vo.IngredientVo" alias="ivo"/>
		<typeAlias type="com.kh.everyrecipe.board.vo.HashtagVo" alias="hvo"/>
		<typeAlias type="com.kh.everyrecipe.weekboard.vo.weekVo" alias="wvo"/>
		<typeAlias type="com.kh.everyrecipe.weekboard.vo.popularVo" alias="WordVo"/>
		<typeAlias type="com.kh.everyrecipe.comment.replycomment.vo.ReplyCommentVo" alias="rcvo"/>
		<typeAlias type="com.kh.everyrecipe.report.vo.ReportVo" alias="revo"/>
		<typeAlias type="com.kh.everyrecipe.boardsearch.vo.SearchVo" alias="svo"/>
		<typeAlias type="com.kh.everyrecipe.member.vo.MemberBlockVo" alias="mbvo"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/comment-mapper.xml"/>
		<mapper resource="mappers/follow-mapper.xml"/>
		<mapper resource="mappers/postLike-mapper.xml"/>
		<mapper resource="mappers/postBookmark-mapper.xml"/>
		<mapper resource="mappers/weekboard-mapper.xml"/>
		<mapper resource="mappers/replycomment-mapper.xml"/>
		<mapper resource="mappers/boardsearch-mapper.xml"/>
		<mapper resource="mappers/report-mapper.xml"/>
		<mapper resource="mappers/chat-mapper.xml"/>
	</mappers>
	
</configuration>
